:root {
  /* --primary-color: #2691e5; */
  --primary-color: dodgerblue;
  --primary-muted-color: #8ab4f8;
  --danger-color: #ed4245;
  --text-normal: #c8ccd0;
  --text-muted: #979da3;
  --background-dominant: #3d3d41;
  --background-secondary: #2e2e2e;
  --background-tertiary: #383838;
  --background-modifier: #3d3d3d;
  --background-modifier-accent: #4b4c4e;
  --background-hover: #353638;
  --scrollbar-thin-thumb: #242526;
}
